<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Hello</title>
	<meta name="author" content="miku3920">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<meta name="description" content="backbone.js">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Backbone.js</h1>
	<div id="form">
		<div><input type="text" id="my_id"></div>
		<div><input type="button" id="findBtn" value="Get"></div>
	</div>
	<hr>
	<table>
		<thead>
			<tr>
				<th>NAME</th>
				<th>MALL</th>
				<th>TEl</th>
			</tr>
		</thead>
		<tbody id="list"></tbody>
	</table>

	<script src="./node_modules/jquery/dist/jquery.js"></script>
	<script src="./node_modules/underscore/underscore.js"></script>
	<script src="./node_modules/backbone/backbone.js"></script>
	<script id="mydata_tmp" type="text/template">
		<tr>
			<td><%= name %></td>
			<td><%= mail %></td>
			<td><%= tel %></td>
		</tr>
	</script>
	<script src="main.js"></script>
</body>

</html>