<h1>Angular web</h1>
<p>{{message}}</p>
<form>
	<div>
		<select [(ngModel)]="model.select1" [ngModelOptions]="{standalone: true}" [size]="items1.length">
			<option *ngFor="let item of items1" [value]="item">{{item}}</option>
		</select>
		<select [(ngModel)]="model.select2" [ngModelOptions]="{standalone: true}" [size]="items2.length" multiple>
			<option *ngFor="let item of items2" [value]="item">{{item}}</option>
		</select>
	</div>
	<input type="button" (click)="onSubmit()" value="click">
</form>